
body{
    text-align: center;
    font-family: arial, sans-serif;
    background-color: #ffbe76;
    color: #eb4d4b;
}
#color-box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
}

#color-code{
    font-size: 20px;
    font-weight: bold;
}

#copy-btn{
    background-color: #706fd3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
#copy-btn:hover{
    background-color: #4f4db9;
    
}
